# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries in Data Science
* List commonly used Data Science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlit
4. Seaborn

| Data Science Tools |
-
| Jupyter Notebook |
| Jupyter Lab |
| Visual Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author 
Herman